In [2]:
import pandas as pd
import numpy as np
import os
os.chdir('C:\\Users\\gunjan.thareja\\gunjan\\Education\\acadgild\\acadgild python batch 2\\Datasets')
os.listdir()
help(pd.DataFrame.)

['bb_data.csv',
 'dob.csv',
 'LoanPredictionTesting.csv',
 'LoanPredictionTraining.csv',
 'Sample - Superstore (1).xls',
 'sample_tsv.txt',
 'superstore_np.xls',
 'winequality-white.csv',
 'x.npy']

In [3]:
df = pd.read_csv('LoanPredictionTesting.csv')
df.head()

ApplicantIncome      4805.599455
CoapplicantIncome    1569.577657
LoanAmount            136.132597
Loan_Amount_Term      342.537396
Credit_History          0.825444
dtype: float64

In [3]:
# count the missing values column wise
print(df.isnull().sum())
df.dtypes

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [ ]:
print("\nDropping any rows with a NaN value\n",'-'*35, sep='')
print(df.dropna(axis=0))

In [ ]:
print("\nDropping any column with a NaN value\n",'-'*35, sep='')
print(df.dropna(axis=1))

In [ ]:
print("\nFilling values with a default value\n",'-'*35, sep='')
print(df.fillna(value='FILL VALUE'))

In [9]:
df.shape[0]
df["Credit_History"].value_counts()

1.0    279
0.0     59
Name: Credit_History, dtype: int64

In [11]:
#Convert the data types of Loan Amount Term and Credit History
df["Loan_Amount_Term"] = pd.Categorical(df["Loan_Amount_Term"])
df["Credit_History"] = pd.Categorical(df["Credit_History"])
df["Gender"] = pd.Categorical(df["Gender"])
df["Dependents"] = pd.Categorical(df["Dependents"])
df["Self_Employed"] = pd.Categorical(df["Self_Employed"])
df.dtypes

Loan_ID                object
Gender               category
Married                object
Dependents           category
Education              object
Self_Employed        category
ApplicantIncome         int64
CoapplicantIncome       int64
LoanAmount            float64
Loan_Amount_Term     category
Credit_History       category
Property_Area          object
dtype: object

In [12]:
df["Gender"].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [13]:
df["Dependents"].value_counts()

0     200
2      59
1      58
3+     40
Name: Dependents, dtype: int64

In [65]:
df["Self_Employed"].value_counts()
df.shape

(367, 12)

In [9]:
# various methods to drop
# this method can be applied irrespective of data type
df["Null_Column"] = None
print("Columns before drop:",df.shape[1])
print(df.columns)
df.dropna(how = "all",axis =1,inplace = True)
print("      ")# drop rows if all values are null
print("Columns after drop:",df.shape[1])
print(df.columns)

Columns before drop: 13
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Null_Column'],
      dtype='object')

Columns after drop: 12
Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [ ]:
df.dropna(how = "all",axis =0)# drop rows if all values are null

In [73]:

print("Total rows and columns", df.shape,"\n","column list :\n",df.columns)
df.dropna(thresh = 340,axis =1,inplace = True )# drop column if non missing value less than threshold value
print("-"*25)
print("Total rows and columns", df.shape ,"\n","column list:\n ",df.columns)

Total rows and columns (367, 12)
 column list :
 Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')
-------------------------
Total rows and columns (367, 11)
 column list:
  Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Property_Area'],
      dtype='object')

In [57]:
#mode imputation for categorical columns
def mode_func(x):
    return(x.value_counts().argmax())

df["Dependents"].fillna(mode_func(df["Dependents"]),inplace = True)
df["Gender"].fillna(mode_func(df["Gender"]),inplace = True)
df["Self_Employed"].fillna(mode_func(df["Self_Employed"]),inplace = True)
df.isnull().sum()

C:\Users\gunjan.thareja\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  This is separate from the ipykernel package so we can avoid doing imports until

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [55]:
# Check the distribution of loan amount
# IQR - for outlier detection
Q1 = df["LoanAmount"].quantile(0.25)
Q3 = df["LoanAmount"].quantile(0.75)
IQR = Q3 - Q1
print("IQR  ",IQR)
print("Lower boundary  ",(Q1 - 1.5 * IQR))
print("Upper Boundary  ",(Q3 +  1.5 * IQR))
#Check for Outliers
IQR_check =(df["LoanAmount"] < (Q1 - 1.5 * IQR)) |(df["LoanAmount"] > (Q3 + 1.5 * IQR))
print("Total outlier data points based on IQR Rule:",df.loc[(df["LoanAmount"] < (Q1 - 1.5 * IQR)) |(df["LoanAmount"] > (Q3 + 1.5 * IQR)),:].shape[0])

IQR   56.5
Lower boundary   16.25
Upper Boundary   242.25
Total outlier data points based on IQR Rule: 18

In [45]:
#Missing value Treatment:
#Mean
mean_loan_amt = np.mean(df["LoanAmount"]) 
df["LoanAmount"].fillna(mean_loan_amt,inplace = True)

#Alternative
# fill the missing vale using np.where
df["LoanAmount"] = np.where(df["LoanAmount"].isnull() == True,np.mean(df["LoanAmount"]),df["LoanAmount"])

In [56]:
#Median
median_loan_amt = np.median(df["LoanAmount"])
df["LoanAmount"].fillna(median_loan_amt,inplace = True)
df["LoanAmount"] = np.where(df["LoanAmount"].isnull() == True,np.median(df["LoanAmount"]),df["LoanAmount"])
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64